.form-outline{
    border: 1px solid;
}

 .counter {
    position: absolute;
    top: 8px;
    right: 106px;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    line-height: 1;
    background-color: rgb(56, 102, 223);
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-weight: 600;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
} 